* {
    font-family: 'Play', sans-serif;;
}

nav {
    background-color: aquamarine;
    color: black;
}

.topDiv {
    border-bottom: 3px solid white;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;  
    margin-top: 20px;
}

.topDiv button {
    background-color: aquamarine;
    color: black;
    border: white 3px solid;
    border-radius: 10px;
}

.topDiv input {
    border: aquamarine 2px solid;
    border-radius: 10px;
    text-align: center;
}

.firstColumn {
border-right: 3px solid aquamarine;
}

.secondColumn {
    background-color: beige;
}

.currentWeatherContainer {
    height: 45%;
    background-color: white;
    border: 3px aquamarine solid;
    border-radius: 10px;
    margin: 10px;
    overflow: scroll;
    padding: 10px;
}

.columnContainer {
   margin-left: 40px;
   margin-right: 40px;
   height: 100%;
}

html, body {
    height: 100%;
    background-color: beige;
}


.card {
    border: 3px white solid;
    border-radius: 10px;
    background-color: aquamarine;
    height: 200px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly

}

.cardContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

#searchHistoryContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 20px;
    overflow: scroll;
    height: 300px;
}

.cities {
    background-color: aquamarine;
    color: black;
    border: white 3px solid;
    border-radius: 10px;
}

@media screen and (max-width: 480px ) {
    

    .secondColumn {
       padding: 0;
    }

    .currentWeatherContainer{
        margin: 10px;
        height: 20%;
        font-size: small;
    }

    .currentWeatherContainer p {
        margin-bottom: 0;
    }

    .columnContainer {
       margin: 0;
    }
    
    .topDiv h2{
       font-size: small;
       text-align: center;
    }

    .topDiv h4 {
        font-size: small;
    }

    .topDiv input {
        width:  100%;
        font-size: small;
    }

    .topDiv button {
        font-size: x-small;
    }

    .cardContainer {
        flex-direction: column;
    }

    .card {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;
        height: 125px;
        font-size: small;
        padding: 20px;
    }

    .card p {
        margin-bottom: 0px;
    }

    .cities {
        font-size: x-small;
    }
}