nav {
    background-color: aquamarine;
    color: white;
}

.topDiv {
    border-right: 3px solid aquamarine;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.secondColumn {
    background-color: beige;
}

.currentWeatherContainer {
    height: 45%;
    background-color: white;
    border: 3px aquamarine solid;
    margin: 10px;
    overflow: scroll;
}

.columnContainer {
   margin: 40px;
   height: 100%;
}

html, body {
    height: 100%;
    background-color: beige;
}


.card {
    border: 2px black solid;

}

.cardContainer {
    display: flex;
    justify-content: space-evenly;
}

#searchHistoryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}